<div  ng-controller="ReservationCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <div class="btn-toolbar pull-right">
            <div class=" btn-group pull-right ">
                <button type="button" class="btn btn-default"    tooltip="Home"  ng-click="$state.go('client.home');">
                    <i class="fa fa-home"></i>  
                </button>
                <button type="button" class="btn btn-default"    tooltip="Search"  ng-click="toggleSearchOk();"  ng-if="searchOk">
                    <i class="fa fa-search"></i>  
                </button>
            </div>
        </div>
        <h1 class="m-n font-thin h3"><i class="fa fa-shopping-cart pull-left"></i> {{'booking'| translate }}</h1>
    </div>
    <div class="wrapper-md"   >
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info"  ng-show="!searchOk">
                    <div class="panel-body" >
                        <form class="form-horizontal form-validation" role="form"  name="searchform"  id="searchform"    ng-submit="search()">


                            <div class="form-group">
                                <label  class="col-sm-offset-3 col-sm-2 control-label">{{'departure'| translate }}</label>
                                <div class="col-sm-6"> 
                                    <div class="input-group w-md">
                                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"  placeholder="dd/MM/yyyy" ng-model="searchVoyage.date_depart"   
                                               min-date="today"  is-open="opened1" datepicker-options="dateOptions" 
                                               ng-required="true"   show-button-bar="false"  ng-focus="open1($event)"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-2 control-label">
                                    <label class="i-checks">
                                        <input type="checkbox" checked  ng-model="searchVoyage.retour"><i></i> {{'return'| translate }} 
                                    </label>
                                </div> 

                                <div class="col-sm-6">
                                    <div class="input-group w-md">
                                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" placeholder="dd/MM/yyyy" ng-model="searchVoyage.date_retour"   
                                               min-date="searchVoyage.date_depart"  is-open="opened2" datepicker-options="dateOptions"  
                                               ng-disabled="!searchVoyage.retour"    show-button-bar="false"  ng-required="searchVoyage.retour"/>
                                        <span class="input-group-btn">
                                            <button type="button"  ng-disabled="!searchVoyage.retour" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label    class="col-sm-offset-3 col-sm-2 control-label">{{'route'| translate }}<span style="color:red">*</span>
                                </label> 
                                <div class="col-sm-4">
                                    <select   ng-model="searchVoyage.trajet"   class="form-control" required=""
                                              ng-options="t as t.libelle  for t in trajets"   >
                                        <option>--</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label    class="col-sm-offset-3 col-sm-2 control-label">{{'seats'| translate }}
                                </label> 
                                <div class="col-sm-2">
                                    <input    class="form-control"  required=""   type="number"    ng-model="searchVoyage.places"  min="1"  /> 
                                </div>

                            </div>
                            <div class="form-group">
                                <label    class="col-sm-offset-3 col-sm-2 control-label">{{'company'| translate }}
                                </label> 
                                <div class="col-sm-4">
                                    <select   ng-model="searchVoyage.compagnie"   class="form-control" 
                                              ng-options="t as t.libelle  for t in compagnies  track by t.code"   >
                                        <option>--</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-4">
                                    <button class="btn btn-block btn-primary" type="submit"  ng-disabled="searchform.$invalid || searchform.$pristine"  >
                                        <i class="fa fa-search"  ng-show="!errorService.waiting">{{'search'| translate }}</i>
                                        <i class="fa fa-spinner faa-spin animated" ng-show="errorService.waiting"></i>
                                        <span ng-show="errorService.waiting">Loading...</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default"  ng-show="searchOk">
                    <div class="panel-body table-responsive"  >
                        <table   class="table table-striped table-bordered table-hover"    id="dataTables-example1" width="100%">
                            <thead>
                            <th>{{searchVoyage.date_depart| date:'EEEE, MMM d'}}</th>
                            <th> {{'oneway'| translate }}</th>
                            </thead>
                            <tbody>
                                <tr  ng-if="!voyages.aller.length">
                                    <td colspan="2">
                                        {{'nodata'| translate }}
                                    </td>
                                </tr>
                                <tr  ng-repeat="v in voyages.aller">
                                    <td>
                                        <span class="arrow"></span>
                                        <div class="ng-hide" ng-show='v.heureDepart'><i class="icon-clock text-muted m-r-xs"></i> {{v.heureDepart}}--{{v.heureArrivee}}</div>
                                        <div class="ng-hide" ng-show='v.agence.libelle'><i class="icon-pointer text-muted m-r-xs"></i> {{v.agence.libelle}}</div>
                                        <div class="ng-hide" ng-show='v.vip'><i class="fa fa-ticket text-muted m-r-xs"></i> VIP</div>
                                        <div class="ng-hide" ng-show='v.statut'><i class="fa fa-clock-o text-muted m-r-xs"></i> {{v.statut}}</div>
                                    </td>
                                    <td>
                                        <span class="arrow"></span>
                                        <div class="ng-hide" ng-show='v.tarif'><i class="fa fa-money text-muted m-r-xs"></i> {{v.tarif * searchVoyage.places|  number:0}} FCFA</div>
                                        <div  ><i class="fa fa-male text-muted m-r-xs"></i>{{searchVoyage.places}} X {{v.tarif|  number:0}} </div>
                                        <div class="ng-hide" ng-show='searchVoyage.places'><button  class="btn btn-block btn-primary"  ng-click="reserver(v.code, searchVoyage.places);"><i class="fa fa-shopping-cart"></i></button></div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary"   ng-if="searchVoyage.retour && searchOk">
                    <div class="panel-body table-responsive"  >
                        <table   class="table table-striped table-bordered table-hover"    id="dataTables-example2" width="100%" >
                            <thead>
                            <th>{{searchVoyage.date_retour| date:'EEEE, MMM d'}}</th>
                            <th>{{'roundtrip'| translate }}</th>
                            </thead>
                            <tbody>
                                <tr  ng-if="!voyages.retour.length">
                                    <td colspan="2">
                                        {{'nodata'| translate }}
                                    </td>
                                </tr>
                                <tr  ng-repeat="v in voyages.retour">
                                    <td>
                                        <span class="arrow"></span>
                                        <div class="ng-hide" ng-show='v.heureDepart'><i class="icon-clock text-muted m-r-xs"></i> {{v.heureDepart}}--{{v.heureArrivee}}</div>
                                        <div class="ng-hide" ng-show='v.agence.libelle'><i class="icon-pointer text-muted m-r-xs"></i> {{v.agence.libelle}}</div>
                                        <div class="ng-hide" ng-show='v.vip'><i class="fa fa-ticket text-muted m-r-xs"></i> VIP</div>
                                        <div class="ng-hide" ng-show='v.statut'><i class="fa fa-clock-o text-muted m-r-xs"></i> {{v.statut}}</div>
                                    </td>
                                    <td>
                                        <span class="arrow"></span>
                                        <div class="ng-hide" ng-show='v.tarif'><i class="fa fa-money text-muted m-r-xs"></i> {{v.tarif * searchVoyage.places|  number:0}} FCFA</div>
                                        <div ><i class="fa fa-male text-muted m-r-xs"></i>{{searchVoyage.places}} X {{v.tarif|  number:0}} </div>
                                        <div class="ng-hide" ng-show='searchVoyage.places'><button  class="btn btn-block btn-primary"  ng-click="reserver(v.code, searchVoyage.places);"><i class="fa fa-shopping-cart"></i></button></div>

                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    app.controller("ReservationCtrl", function ReservationCtrl($scope, ErrorService, $http, CrudService, $modal, $log, toaster) {
        $scope.errorService = ErrorService;
        $scope.errorService.clear();
        $scope.open1 = function ($event) {
            $event.preventDefault();
            $event.stopPropagation();
            $scope.opened1 = true;
        };
        $scope.open2 = function ($event) {
            $event.preventDefault();
            $event.stopPropagation();
            $scope.opened2 = true;
        };
        $scope.dateOptions = {
            formatYear: 'yy',
            startingDay: 1,
            class: 'datepicker'
        };
        $scope.toggleSearchOk = function () {
            $scope.searchOk = !$scope.searchOk;
        };
        $scope.today = new Date();
        $scope.searchOk = false;
        $scope.searchVoyage = {
            places: 1,
            date_depart: new Date()
        };

        $http.get('client/Voyage/search')
                .success(function (data) {
                    $scope.trajets = data.trajets;
                    $scope.compagnies = data.compagnies;
                });

        $scope.search = function () {
            $scope.errorService.setwaiting();
            $http.post('client/Voyage/search', $scope.searchVoyage)
                    .success(function (data) {
                        $scope.errorService.setSucces();
                        $scope.searchOk = true;
                        $scope.voyages = data;
                    });
        };

        $scope.reserver = function (idvoyage, nbreplaces) {
            $http.get('client/TakeResa/' + idvoyage + '/' + nbreplaces)
                    .success(function (data) {

                        var modalInstance = $modal.open({
                            templateUrl: 'tpl/admin/Passager_form.html',
                            controller: 'PassagerForm',
                            size: 'sm',
                            resolve: {
                                idvoyage: function () {
                                    return idvoyage;
                                },
                                nbreplaces: function () {
                                    return nbreplaces;
                                },
                                url: function () {
                                    return 'Client/TakeResa';
                                }
                            }
                        });

                        modalInstance.result.then(function () {
                            $scope.toggleSearchOk();
                            $log.info('Modal closed at: ' + new Date());
                        }, function () {
                            $log.info('Modal dismissed at: ' + new Date());
                        });

                    }).error(function (data) {
                toaster.pop("error", "Error", data);
            });


        };
    })
            ;

</script>