<div  ng-controller="FeedbackCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <div class="btn-toolbar pull-right">
            <div class=" btn-group pull-right ">
                <button type="button" class="btn btn-default"    tooltip="Home"  ng-click="$state.go('client.home');">
                    <i class="fa fa-home"></i>  
                </button>
                <button type="button" class="btn btn-default"    tooltip="Search"  ng-click="toggleSearchOk();"  ng-if="searchOk">
                    <i class="fa fa-search"></i>  
                </button>
            </div>
        </div>
        <h1 class="m-n font-thin h3"><i class="icon-like pull-left"></i> Feedback</h1>
        <small class="text-muted">{{'mybooking1'| translate }}</small>
    </div>

    <div class="wrapper-md"   >
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info"  ng-show="!searchOk">
                    <div class="panel-body" >
                        <form class="form-horizontal form-validation" role="form"  name="searchform"  id="searchform"    ng-submit="search()">

                            <div class="form-group">
                                <label    class="col-sm-offset-3 col-sm-2 control-label">No {{'booking'| translate }}
                                </label> 
                                <div class="col-sm-2">
                                    <input    class="form-control"  required=""   type="number"    ng-model="booking.reservation"    /> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label    class="col-sm-offset-3 col-sm-2 control-label">{{'phone'| translate }}
                                </label> 
                                <div class="col-sm-2">
                                    <input    class="form-control"  ng-required="!booking.email"   type="tel"  ng-pattern="/^6([5679]{1})(\d{7})$/"  ng-model="booking.telephone"    /> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label    class="col-sm-offset-3 col-sm-2 control-label">Email
                                </label> 
                                <div class="col-sm-2">
                                    <input    class="form-control"  ng-required="!booking.telephone"    type="email"    ng-model="booking.email"    /> 
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-2">
                                    <button class="btn btn-block btn-primary" type="submit"  ng-disabled="searchform.$invalid || searchform.$pristine"  >
                                        <i class="fa fa-search"  ng-show="!errorService.waiting">{{'search'| translate }}</i>
                                        <i class="fa fa-spinner faa-spin animated" ng-show="errorService.waiting"></i>
                                        <span ng-show="errorService.waiting">Loading...</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" ng-show="searchOk">
                    <div class="panel-body">
                        <form role="form">
                            <!-- rating -->
                            <div  class="m-b-lg"  ng-show="!edited">
                                <h4>Note</h4>
                                <div ng-init="tsoftitem.note = 5" class="m-b text-lg">
                                    <rating ng-model="tsoftitem.note" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'"></rating> <b>({{tsoftitem.note}})</b>
                                </div>

                            </div>
                            <!-- / rating -->

                            <div class="form-group"  ng-show="!edited" ng-init="tsoftitem.commentaire = 'J\'apprecie vraiment cette application'">

                                <label class="control-label">Commentaire</label>
                                <textarea type="text" class="form-control"  ng-model="tsoftitem.commentaire"  ></textarea>
                            </div>

                            <div class="form-group"  ng-show="!edited">
                                <button type="button" ng-click="toggleSearchOk();" class="btn btn-default">Abandonner </button>
                                <button type="button" class="btn btn-primary"  ng-click="send()">Envoyer <i class="fa fa-spin fa-spinner" ng-show="spinner"></i></button>

                            </div>                   
                            <div class="form-group"  ng-show="edited">
                                <p class="form-control-static"  style="font-size: xx-large;"  ><i class="icon-emoticon-smile"> </i>Merci de nous avoir donné votre feedback</p>
                                <button type="button" ng-click="toggleSearchOk();" class="btn btn-default"><i class="icon-home  pull-left"></i>Retour </button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    app.controller('FeedbackCtrl', ['$scope', 'toaster', 'CrudService', '$http', 'ErrorService'
                , function ($scope, toaster, CrudService, $http, ErrorService) {
                    $scope.errorService = ErrorService;
                    $scope.errorService.clear();

                    $scope.toggleSearchOk = function () {
                        $scope.searchOk = !$scope.searchOk;
                    };

                    $scope.searchOk = false;
                    $scope.tsoftitem = {};

                    $scope.search = function () {
                        $scope.errorService.setwaiting();
                        $http.post('client/MyBooking', $scope.booking)
                                .success(function (data) {
                                    $scope.errorService.setSucces();
                                    $scope.toggleSearchOk();
                                    $scope.tsoftitem.passager = data;
                                });
                    };

                    $scope.send = function () {
                        $scope.spinner = true;
                        CrudService.save({categorie: 'Client/VoyageFeedback'}, $scope.tsoftitem,
                                function (data) {
                                    $scope.edited = true;
                                    $scope.spinner = false;
                                }, function (error) {
                            toaster.pop("error", "Error", error);
                            $scope.spinner = false;
                        });
                    };

                }])
            ;
</script>