<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="icon-home pull-left"></i>Menu</h1>
</div>
<div class="wrapper-md" >
    <div class="row">
        <div class="col-sm-12"  ng-show="{{contact!='699999999'}}">
            <p>
                <button  ng-click="$state.go('app.quizz')" class="btn btn-default btn-lg btn-block"><i class="icon-question pull-left"></i> Quizz</button>
            </p>
            <p>
                <button ng-click="$state.go('app.tombola')" class="btn btn-default  btn-lg btn-block"><i class="icon-tag pull-left"></i>Tombola</button>
            </p>     
            <p>
                <button ng-click="$state.go('app.feedback')" class="btn btn-default  btn-lg btn-block"><i class="icon-like  pull-left"></i>Feedback</button>
            </p>     

        </div>
        
        <div class="col-sm-12"  ng-show="{{contact=='699999999'}}">
             <p>
                <button  ng-click="$state.go('app.launchquizz')" class="btn btn-default btn-lg btn-block"><i class="icon-question pull-left"></i> Quizz</button>
            </p>
             <p>
                <button  ng-click="$state.go('app.tombolaadmin')" class="btn btn-default btn-lg btn-block"><i class="icon-tag pull-left"></i> Tombola</button>
            </p>
            <p>
                <button ng-click="$state.go('app.feedbackadmin')" class="btn btn-default  btn-lg btn-block"><i class="glyphicon-stats  pull-left"></i>Statistiques</button>
            </p>
            
        </div>
        
       
        
             


    </div>
</div>
</div>
