<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="icon-home pull-left"></i>Menu</h1>
</div>
<div class="wrapper-md" >
    <div class="row">
        <div class="col-sm-12">
            <p>
                <button  ng-click="$state.go('client.booking')" class="btn btn-default btn-lg btn-block">
                    <i class="fa fa-shopping-cart pull-left"></i> {{'booking'| translate }}
                </button>
            </p>
            <p>
                <button  ng-click="$state.go('client.mybooking')" class="btn btn-default btn-lg btn-block">
                    <i class="fa fa-ticket pull-left"></i> {{'mybooking'| translate }}
                </button>
            </p>
            <p>
                <button  ng-click="$state.go('client.feedback')" class="btn btn-default btn-lg btn-block">
                    <i class="icon-like pull-left"></i> Feedback
                </button>
            </p>
            <p>
                <button  ng-click="$state.go('client.information')" class="btn btn-default btn-lg btn-block">
                    <i class="icon-info pull-left"></i> Information
                </button>
            </p>
            <p>
                <button  ng-click="$state.go('client.service')" class="btn btn-default btn-lg btn-block">
                    <i class="fa fa-tags pull-left"></i> Service
                </button>
            </p>

        </div>

    </div>
</div>
</div>
