

<div class="modal-header">
    <button type="button" class="btn btn-link pull-right"  ng-click="closemodal()" >
        <i class="fa fa-remove"></i>  
    </button>
    <h3 class="modal-title"> {{categorie}}</h3>
    <small class="text-muted"  translate="form.legend">Fields marked with * are required</small>
</div>
<div class="modal-body" >
    <form      ng-submit="save()"  novalidate="true"
               name="form"   method="POST"    id="form"    class="bs-example form-validation form-horizontal" >
        
       

        <div class="form-group"  >
            <label    class="col-lg-offset-1 col-lg-2 control-label">Depart<span style="color:red">*</span>
            </label> 
            <div class="col-lg-6">
                <select   ng-model="tsoftitem.villeA" required=""  class="form-control"
                          ng-options="v as v.libelle  for v in villes  track by v.code"   >
                    <option></option>
                </select>
            </div>

        </div>
        <div class="form-group"  >
            <label    class="col-lg-offset-1 col-lg-2 control-label">Destination<span style="color:red">*</span>
            </label> 
            <div class="col-lg-6">
                <select   ng-model="tsoftitem.villeB" required=""  class="form-control"
                          ng-options="v as v.libelle  for v in villes  track by v.code"   >
                    <option></option>
                </select>
            </div>

        </div>

      

        <div class="form-group"  >
            <label    class="col-lg-offset-1 col-lg-2 control-label">Durée (min)<span style="color:red">*</span>
            </label> 
            <div class="col-lg-6"><input type="number" class="form-control"  required=""  ng-model="tsoftitem.duree"></div>

        </div>

       
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-10">
                <button    type="button" class="btn btn-default"  ng-click="closemodal()"  >{{'form.reset'| translate}}</button>
                <button type="submit" class="btn btn-primary"    ng-disabled="form.$invalid || form.$pristine"    >
                    <i class="fa fa-save"  ng-show="!errorService.waiting">{{'form.save'| translate}}</i>
                    <i class="fa fa-spinner faa-spin animated" ng-show="errorService.waiting"></i>
                    <span ng-show="errorService.waiting">Loading...</span>
                </button> 
            </div>

        </div> 
    </form>

</div> 







