<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Voyage Schedule</h1>
    <small class="text-muted">{{'search.legend'| translate }}</small>
</div>

<div class="wrapper-md"  ng-controller="VoyageScheduleList">

    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <label>Show</label>
                <select class="form-control" ng-model="itemsByPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option  value="25">25</option>
                    <option value="50">50</option>
                    <option  value="100">100</option>
                </select>
            </form>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover"  st-safe-src="rowCollection"  st-table="displayedCollection">
                <thead>
                    <tr>
                        <th st-sort="trajet.libelle">Trajet</th>
                        <th st-sort="date_debut">Date debut</th>
                        <th st-sort="date_fin">Date fin</th>
                        <th st-sort="agence.libelle">Agence</th>
                        <th> 
                            <button type="button" class="btn btn-primary" ng-click="add();"  
                                    tooltip="{{'form.add'| translate}}">
                                <i class="fa fa-plus"></i>  
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.trajet.libelle}}</td>
                        <td>{{row.date_debut| date:'fullDate'}}</td>
                        <td>{{row.date_fin| date:'fullDate'}}</td>
                        <td>{{row.agence.libelle}}</td>
                        <td>
                            <button type="button" ng-click="edit(row);" class="btn btn-sm btn-default">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="button" ng-click="delete(row);" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td   class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"  class="no-margin"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>



<script type="text/javascript" >

    app.controller("VoyageScheduleList",
            function VoyageScheduleList($scope, $state, toaster, CrudService, $modal, $log) {

                $scope.categorie = 'VoyageSchedule';
                $scope.rowCollection = CrudService.query({categorie: $scope.categorie});
                //  pagination
                $scope.itemsByPage = 10;

                $scope.delete = function (row) {
                    var r = confirm("Confirm ?");
                    if (r == true) {
                        CrudService.delete({categorie: $scope.categorie, id: row.code}, function (data) {
                            $scope.rowCollection = CrudService.query({categorie: $scope.categorie});
                            toaster.pop("success", "Success", "Suppression Effectuée avec Succès");
                        }, function (error) {
                            toaster.pop("error", "Error", error);
                        });
                    }
                    ;

                };
                $scope.edit = function (row) {
                    CrudService.get({categorie: $scope.categorie, id: row.code}, function (data) {
                        $scope.tsoftitem = data;
                        $scope.openForm('lg', $scope.tsoftitem, $scope.rowCollection.indexOf(row));
                    });
                };
                $scope.add = function () {
                    $scope.tsoftitem = {};
                    $scope.openForm('lg', {}, -1);
                };

                $scope.openForm = function (size, row, rowindex) {
                    var modalInstance = $modal.open({
                        templateUrl: 'tpl/admin/' + $scope.categorie + '_form.html',
                        controller: $scope.categorie + 'Form',
                        size: size,
                        resolve: {
                            row: function () {
                                return row;
                            }
                        }
                    });

                    modalInstance.result.then(function () {
                        $scope.rowCollection = CrudService.query({categorie: $scope.categorie});
                        $log.info('Modal closed at: ' + new Date());
                    }, function () {
                        $log.info('Modal dismissed at: ' + new Date());
                    });
                };
            });
    app.controller("VoyageScheduleForm",
            function VoyageScheduleForm($scope, $modalInstance, $http, toaster, ErrorService, CrudService,row) {
                $scope.categorie = 'VoyageSchedule';
                $scope.errorService = ErrorService;
                $scope.errorService.clear();

                $scope.tsoftitem = row;

                $scope.save = function () {
                    $scope.errorService.setwaiting();
                    CrudService.save({categorie: $scope.categorie}, $scope.tsoftitem,
                            function (data) {
                                toaster.pop("success", "Success", "Operation Effectuée avec Succès");
                                $scope.errorService.setSucces();
                                $modalInstance.close();
                            });
                };


                $scope.closemodal = function () {
                    $modalInstance.dismiss('cancel');
                };


                $scope.agences = CrudService.query({categorie: 'Agencelist', id: -1});
                $scope.trajets = CrudService.query({categorie: 'Trajet'});

                $scope.today = new Date();
                $scope.open1 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.opened1 = true;
                };
                $scope.open2 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.opened2 = true;
                };
                $scope.dateOptions = {
                    formatYear: 'yy',
                    startingDay: 1,
                    class: 'datepicker'
                };


            });


</script>
