<div ng-controller="VoyageForm">
    <div class="bg-light lter b-b wrapper-md" >
        <div class="btn-toolbar pull-right">
            <div class=" btn-group pull-right ">
                <button type="button" class="btn btn-default" ng-click=" $state.go('app.table.list', {categorie: categorie});"   tooltip="List">
                    <i class="fa fa-th-list"></i>  
                </button>
                <button type="button" class="btn btn-default" ng-click=" $state.go('app.calendar');"   tooltip="Calendar">
                    <i class="fa fa-calendar"></i>  
                </button>
            </div>
        </div>
        <h1 class="m-n font-thin h3">    {{categorie}} </h1>
        <small class="text-muted"  translate="form.legend">Fields marked with * are required</small>
    </div>
    <!-- Main content -->
    <div class="wrapper-md"  ng-controller="VoyageForm">

        <div class="row"  ng-show="app.settings.debugmode">
            <div class="col-lg-12">
                <pre>{{tsoftitem}}</pre>
            </div>
        </div>

        <div class="panel panel-info"> 
            <div class="panel-body"  >
                <fieldset>
                    <tabset justified="false"  type="pills" vertical="false" >
                        <tab>
                            <tab-heading  >Voyage</tab-heading>
                            <br>
                            <form      ng-submit="save()"  novalidate="true"
                                       name="form"   method="POST"    id="form"    class="form-validation form-horizontal"  >

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Heure Arrivee
                                            </label> 
                                            <div class="col-lg-8">
                                                <timepicker ng-model="tsoftitem.heureDepart"  required="" hour-step="1" minute-step="15" show-meridian="false"  show-spinners="false"></timepicker>
                                            </div>
                                        </div>
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Heure Arrivee
                                            </label> 
                                            <div class="col-lg-8">
                                                <timepicker ng-model="tsoftitem.heureArrivee"  required="" hour-step="1" minute-step="15" show-meridian="false"  show-spinners="false"></timepicker>
                                            </div>
                                        </div>
                                        <div class="form-group"  >
                                            <label    class=" col-lg-4 control-label">Date Depart<span style="color:red">*</span>
                                            </label> 
                                            <div class="col-lg-8">
                                                <div class="input-group w-md">
                                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"  placeholder="dd/MM/yyyy" ng-model="tsoftitem.dateDepart"   
                                                           min-date="today"  is-open="opened1" datepicker-options="dateOptions" 
                                                           ng-required="true"   show-button-bar="false"  />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"  >
                                            <label    class=" col-lg-4 control-label">Date Arrivee<span style="color:red">*</span>
                                            </label> 
                                            <div class="col-lg-8">
                                                <div class="input-group w-md">
                                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"  placeholder="dd/MM/yyyy" ng-model="tsoftitem.dateArrivee"   
                                                           min-date="tsoftitem.dateDepart"  is-open="opened2" datepicker-options="dateOptions" 
                                                           ng-required="true"   show-button-bar="false"  />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Statut
                                            </label> 
                                            <div class="col-lg-5">
                                                <select   ng-model="tsoftitem.statut"   class="form-control">
                                                    <option>--</option>
                                                    <option>PROGRAMME</option>
                                                    <option>DEPART</option>
                                                    <option>RETARDE</option>
                                                    <option>ARRIVE</option>
                                                    <option>ANNULE</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-4  col-lg-6">
                                                <button type="submit" class="btn btn-primary"    ng-disabled="form.$invalid || form.$pristine"    >
                                                    <i class="fa fa-save"  ng-show="!errorService.waiting">{{'form.save'| translate}}</i>
                                                    <i class="fa fa-spinner faa-spin animated" ng-show="errorService.waiting"></i>
                                                    <span ng-show="errorService.waiting">Loading...</span>
                                                </button>
                                                <button   type="button" class="btn btn-default"  ng-click="reset()"  > <i class="glyphicon  glyphicon-remove"></i>{{'form.reset'| translate}}</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Trajet<span style="color:red">*</span>
                                            </label> 
                                            <div class="col-lg-8">
                                                <select   ng-model="tsoftitem.trajet" required=""  class="form-control"
                                                          ng-options="v as v.libelle  for v in trajets track by v.code"   >
                                                    <option>--</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Agence<span style="color:red">*</span>
                                            </label> 
                                            <div class="col-lg-8">
                                                <select   ng-model="tsoftitem.agence" required=""  class="form-control"
                                                          ng-options="v as v.libelle  for v in agences  track by v.code"   >
                                                    <option>--</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Bus<span style="color:red">*</span>
                                            </label> 
                                            <div class="col-lg-8">
                                                <select   ng-model="tsoftitem.bus" required=""  class="form-control"
                                                          ng-options="v as v.immatriculation  for v in bus track by v.code"   >
                                                    <option>--</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Chauffeur
                                            </label> 
                                            <div class="col-lg-8">
                                                <select   ng-model="tsoftitem.chauffeur"   class="form-control"
                                                          ng-options="v as v.nom_prenom  for v in chauffeurs track by v.code"   >
                                                    <option>--</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Nbre Places Confirmées
                                            </label> 
                                            <div class="col-lg-8"><input type="number" class="form-control"  readonly=""  ng-model="tsoftitem.nbre_places_confirmees"></div>

                                        </div>
                                        <div class="form-group"  >
                                            <label    class="col-lg-4 control-label">Nbre Places Reservees
                                            </label> 
                                            <div class="col-lg-8"><input type="number" class="form-control"  readonly=""  ng-model="tsoftitem.nbre_places_reservees"></div>

                                        </div>


                                    </div>
                                </div>





                            </form>

                        </tab>


                        <tab   disabled="!(tsoftitem.code)"  select="$state.go('app.form.elt.passager')">
                            <tab-heading> Passagers</tab-heading>
                            <br>
                            <div ui-view="PassagerListView"></div>
                        </tab>

                    </tabset>
                </fieldset>

            </div>



        </div>

    </div>
</div>

<script type="text/javascript" >

    app.controller("VoyageForm",
            function VoyageForm($scope,  toaster,  ErrorService, $stateParams, CrudService) {
                $scope.categorie = 'Voyage';
                $scope.errorService = ErrorService;
                $scope.errorService.clear();

                if ($stateParams.id === -1) {
                    $scope.tsoftitem = {};
                    alert('$stateParams.id');
                } else {
                    CrudService.get({categorie: $scope.categorie, id: $stateParams.id}, function (data) {
                        $scope.tsoftitem = data;
                    });
                }
                $scope.master = angular.copy($scope.tsoftitem);

                $scope.reset = function () {
                    $scope.tsoftitem = angular.copy($scope.master);
                    $scope.form.$setPristine();
                };

                $scope.save = function () {
                    $scope.errorService.setwaiting();
                    CrudService.save({categorie: $scope.categorie}, $scope.tsoftitem,
                            function (data) {
                                toaster.pop("success", "Success", "Operation Effectuée avec Succès");
                                $scope.errorService.setSucces();
                                $scope.form.$setPristine();
                                alert(data);
                                $scope.tsoftitem = data;
                            });
                };

                $scope.trajets = CrudService.query({categorie: 'Trajet'});
                $scope.chauffeurs = CrudService.query({categorie: 'Chauffeur'});
                $scope.bus = CrudService.query({categorie: 'Bus'});
                $scope.agences = CrudService.query({categorie: 'Agencelist', id: -1});

                $scope.today = new Date();
                $scope.open1 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.opened1 = true;
                };
                $scope.open2 = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.opened2 = true;
                };
                $scope.dateOptions = {
                    formatYear: 'yy',
                    startingDay: 1,
                    class: 'datepicker'
                };


            });
</script>


