<form      ng-submit="save()"  novalidate="true"
           name="form"   method="POST"    id="form"    class="bs-example form-validation form-horizontal" >
    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right"  ng-click="closemodal()" >
            <i class="fa fa-remove"></i>  
        </button>
        <h3 class="modal-title"> {{categorie}}</h3>
        <small class="text-muted"  translate="form.legend">Fields marked with * are required</small>
    </div>
    <div class="modal-body" >
        <div class="row">
            <div class="col-lg-6">
                <fieldset>
                    <legend>Informations</legend>
                    <div class="form-group"  >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Classe
                        </label>
                        <div class="col-lg-6">
                            <div class="checkbox-inline">
                                <label class="i-checks">
                                    <input type="checkbox" checked  ng-model="tsoftitem.vip"><i></i> VIP
                                </label>
                            </div> 
                            <div class="checkbox-inline">
                                <label class="i-checks">
                                    <input type="checkbox" checked  ng-model="tsoftitem.classic"><i></i> CLASSIC
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"  >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Date debut<span style="color:red">*</span>
                        </label> 
                        <div class="col-lg-6">
                            <div class="input-group w-md">
                                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"  placeholder="dd/MM/yyyy" ng-model="tsoftitem.date_debut"   
                                       min-date="today"  is-open="opened1" datepicker-options="dateOptions" 
                                       ng-required="true"   show-button-bar="false"  ng-focus="open1($event)"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group"  >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Date fin<span style="color:red">*</span>
                        </label> 
                        <div class="col-lg-6">
                            <div class="input-group w-md">
                                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" placeholder="dd/MM/yyyy" ng-model="tsoftitem.date_fin"   
                                       min-date="tsoftitem.date_debut"  is-open="opened2" datepicker-options="dateOptions"   ng-required="true"
                                       ng-disabled="!tsoftitem.date_debut"    show-button-bar="false"  ng-required="true"/>
                                <span class="input-group-btn">
                                    <button type="button"  ng-disabled="!tsoftitem.date_debut" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group"  >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Agence<span style="color:red">*</span>
                        </label> 
                        <div class="col-lg-6">
                            <select    ng-model="tsoftitem.agence" required=""  class="form-control"
                                       ng-options="a as a.libelle  for a in agences  track by a.code"   >
                                <option>--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"  >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Trajet<span style="color:red">*</span>
                        </label> 
                        <div class="col-lg-6">
                            <select   ng-model="tsoftitem.trajet" required=""  class="form-control"
                                      ng-options="t as t.libelle  for t in trajets  track by t.code"   >
                                <option>--</option>
                            </select>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <legend>Horaires
                        <small class="text-muted">Entrez les heures séparés par des virgules (Ex  11:30,15:45)</small>
                    </legend>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Lundi
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesLundi"  >

                        </div>
                    </div>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Mardi
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesMardi"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Mercredi
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesMercredi"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Jeudi
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesJeudi"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Vendredi
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesVendredi"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Samedi
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesSamedi"  >
                        </div>
                    </div>
                    <div class="form-group" >
                        <label    class="col-lg-offset-1 col-lg-2 control-label">Dimanche
                        </label> 
                        <div class="col-lg-6">
                            <input class="form-control"  type="text"  ng-list=""  ng-model="tsoftitem.horairesDimanche"  >
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

    </div>
    <div class="modal-footer" >
        <button    type="button" class="btn btn-default"  ng-click="closemodal()"  >{{'form.reset'| translate}}</button>
        <button type="submit" class="btn btn-primary"    ng-disabled="form.$invalid || form.$pristine"    >
            <i class="fa fa-save"  ng-show="!errorService.waiting">{{'form.save'| translate}}</i>
            <i class="fa fa-spinner faa-spin animated" ng-show="errorService.waiting"></i>
            <span ng-show="errorService.waiting">Loading...</span>
        </button> 
    </div>
</form>





